<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAg9F9STUltyQ9TvaGnhW4UnVictX_KRw</string>
	<key>GCM_SENDER_ID</key>
	<string>756241258010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nejack.Loop</string>
	<key>PROJECT_ID</key>
	<string>loop-84b2b</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-84b2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756241258010:ios:86d96d9af42432c3ebe3a3</string>
</dict>
</plist>