<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.756241258010-sfg9gjdr5073pcu9190alcovdohhajbk</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Loop needs access to your camera to take photos for your posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Loop needs access to your photo library to select photos for your posts.</string>
</dict>
</plist>
